@use "../../scss/" as *;

.hero-slide {
  margin-bottom: 2rem;

  &__item {
    display: flex;
    padding: 0rem 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include overlay();
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }

    &__content {
      margin-top: 120px;

      @include flex(center, center);

      @include mobile {
        margin-top: 160px;
        flex-direction: column;
      }

      .btns {
        @include flex(center, unset);

        div {
          margin: 0 10px;
        }
      }

      &__info {
        width: 70%;
        padding-right: 3rem;
        position: relative;
        z-index: 1000;

        @include tablet {
          width: 100%;
          padding: 0 3rem;
        }

        @include mobile {
          margin: auto;
        }

        & > * ~ * {
          margin-top: 2rem;
        }

        .title {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1;

          @include tablet {
            font-size: 3rem;
          }
        }

        .overview {
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
        }

        .btns,
        .title,
        .overview {
          opacity: 0;
          transform: translateY(-100px);
          transition: transform ease 0.5s, opacity ease 0.5s;
        }
      }

      &__poster {
        z-index: 1000;
        right: 30%;
        cursor: pointer;
        @include flex(center, flex-start);

        img {
          width: auto;
          height: 70vh;
          border-radius: $border-radius;
          box-shadow: $box-shadow;

          transform: scale(0);
          transition: transform ease 0.5s;

          @include mobile {
            height: 40vh;
          }
        }
        @include tablet {
          display: none;
        }
        @include mobile {
          display: none;
        }
      }
    }
    &.active &__content &__content__poster {
      img {
        transform: scale(1);
      }
    }

    &.active &__content &__content__info {
      .btns,
      .title,
      .overview {
        opacity: 1;
        transform: translateY(0);
      }

      .btns {
        transition-delay: 0.3s, 0.3s;
      }
      .overview {
        transition-delay: 0.5s, 0.5s;
      }
      .title {
        transition-delay: 0.7s, 0.5s;
      }
    }
  }
}

// .hero-slide__item {
//   background-size: cover;
// }

// .hero-slide__item__content__info {
//   position: absolute;
// }

// .hero-slide__item__content__poster {
//   padding-top: 10rem;
// }
